<h2 mat-dialog-title>Subscriber Detail ID: {{ subscriber.PublicId }}</h2>

<mat-dialog-content>
  <div>
    <p>
      Name: <span>{{ subscriber.Name }}</span>
    </p>
  </div>
  <div>
    <p>
      Email: <span>{{ subscriber.Email }}</span>
    </p>
  </div>
  <div>
    <p>
      CountryName: <span>{{ subscriber.CountryName }}</span>
    </p>
  </div>
  <div>
    <p>
      SubscriptionStateDescription:
      <span>{{ subscriber.SubscriptionStateDescription }}</span>
    </p>
  </div>
</mat-dialog-content>
