<div class="form-container">
  <form>
    <div class="form-field">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="form-field">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
